 {% for item in basket %}
     <tr>
        <th scope="row">{{ forloop.counter  }}</th>
        <td>{{ item.product.name }}</td>
        <td>
            <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        </td>
        <td>{{ item.product.price }}</td>
        <td><a class="btn btn-round btn-danger" href="{% url 'basket:remove' item.pk %}" >Удалить</a></td>
     </tr>
 {% endfor %}

 {% if basket %}
    <td colspan="5" class="basket_summary">
        В корзине {{ basket.0.total_quantity }} товаров, общей стоимостью
        {{ basket.0.total_cost  }} руб.
    </td>
 {% endif %}